@media (max-width: 992px) {
  .l1-txt1 {
    font-size: 30px;
  }
  .section-operation-hours {
    height: auto;
    padding: 0 2rem;
  }
}
@media (max-width: 500px) {
  .branch-map {
    width: 100%;
  }
}
